<p-table [value]="registrosActuales[0]">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
<!--            <th>{{nombreModulo + '.<%= nombreCamel %>.camposFormulario.nombreCampo.nombre' | translate}}</th>-->
<!--            <th>{{nombreModulo + '.<%= nombreCamel %>.camposFormulario.nombreCampoLista.nombre' | translate}}</th>-->
<!--            <th>{{nombreModulo + '.<%= nombreCamel %>.camposFormulario.campoRelacion.nombre' | translate}}</th>-->
            <th class="ancho-habilitado-deshabilitado"><cds-icon shape="info-circle"></cds-icon></th>
            <th class="ancho-acciones">{{'comunes.acciones' | translate}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-registro>
        <tr>
            <td>{{registro.id}}</td>
<!--            <td class="break-word">{{registro.nombreCampo}}</td>-->
<!--            <td class="break-word">{{obtenerNombreCampoLista(registro.nombreCampoLista) | translate}}</td>-->
<!--            <td class="break-word">{{registro.campoRelacion.nombreCampo}}</td>-->
            <td class="ancho-habilitado-deshabilitado">
                <manti-habilitado-deshabilitado [registro]="registro"></manti-habilitado-deshabilitado>
            </td>
            <td class="ancho-acciones">
                <button class="btn btn-outline btn-block"
                        (click)="componente.abrirOpciones(true, registro)"
                >

                    {{'comunes.acciones' |  translate }}
                    <clr-icon shape="bolt"></clr-icon>
                </button>
            </td>
        </tr>
        <tr *ngIf="registro.sisArchivo||registro.sisImagen">
            <td colspan="7">
                <div class="grid grid-cols-2 gap-4">
                    <div class="row-span-1 p-3 object-scale-down">
                        <manti-mostrar-imagen [registro]="registro"></manti-mostrar-imagen>
                    </div>
                    <div class="row-span-1 p-3">
                        <manti-mostrar-archivo [registro]="registro"></manti-mostrar-archivo>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
