<p-card [header]="registro.nombreCampo" [subheader]="registro.nombreCampoOtro" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <manti-mostrar-imagen *ngIf="registro.sisImagen" [registro]="registro"></manti-mostrar-imagen>
    </ng-template>
<!--    <p>-->
<!--        <strong>{{nombreModulo + '.camposFormulario.nombreCampo.nombre' | translate}}:</strong>-->
<!--        {{registro.nombreCampo}}</p>-->
<!--    <p>-->
<!--        <strong>{{nombreModulo + '.camposFormulario.nombreCampoLista.nombre' | translate}} :</strong>-->
<!--        {{obtenerNombreCampoLista(registro.nombreCampoLista) | translate}}</p>-->
<!--    <p>-->
    <p>
        <strong>{{'comunes.sisHabilitado' | translate}}:</strong>
    </p>
    <manti-habilitado-deshabilitado [registro]="registro"></manti-habilitado-deshabilitado>
    <ng-template pTemplate="footer">
        <div *ngIf="registro.sisArchivo">
            <manti-mostrar-archivo [registro]="registro"></manti-mostrar-archivo>
        </div>
        <div *ngIf="mostrarAcciones">
            <button class="btn btn-outline btn-block"
                    (click)="componente.abrirOpciones(true, registro)"
            >
                {{'comunes.acciones' |  translate }}
                <clr-icon shape="bolt"></clr-icon>
            </button>
        </div>
    </ng-template>
</p-card>