<div *ngIf="arregloCampos.length > 0">
    <mat-accordion [multi]="true">
        <mat-expansion-panel *ngFor="let campo of arregloCampos; let i = index" [expanded]="true    " >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{campo.titulo |  translate }}
                </mat-panel-title>
                <mat-panel-description>
                    {{campo.descripcion |  translate }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <formly-form *ngIf="campo.formularios"
                         [model]="campo.formularios.model"
                         [fields]="campo.formularios.fields"
                         [options]="campo.formularios.options"
                         [form]="campo.formularios.form"></formly-form>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div *ngIf="arregloCampos.length === 0">
    <formly-form *ngIf="formularioManti"
                 [model]="formularioManti.model"
                 [fields]="formularioManti.fields"
                 [options]="formularioManti.options"
                 [form]="formularioManti.form"></formly-form>
</div>
<!-- EJEMPLO SELECT TEMPLATE -->
<!--<ng-template #selectedItemGeneroLibro [tipoTemplate]="_tipoSelectSelectedItemGeneroLibro">-->
<!--    <div *ngIf="formularioManti.form.controls.generoLibro">-->
<!--        <div *ngIf="formularioManti.form.controls.generoLibro.value">-->
<!--            {{formularioManti.form.controls.generoLibro.value.name | translate}}-->
<!--        </div>-->
<!--    </div>-->
<!--</ng-template>-->
<!--<ng-template #itemGeneroLibro let-selectPrimeng>-->
<!--    {{selectPrimeng.item.code}} - {{selectPrimeng.item.name | translate}}-->
<!--</ng-template>-->
