<manti-contenedor-ruta
        [titulo]="nombreModulo + '.<%= nombreCamel %>.nombreRuta' | translate"
        [descripcion]="nombreModulo + '.<%= nombreCamel %>.descripcion' | translate"
        [colorDot]="colorDot"
        [colorBorde]="colorBorde"
>
  <div class="descripcion">
    <div class="grid grid-cols-10 gap-2">
      <div class="col-span-2">
        <img class="icono-ruta-imagen"
             src="https://cdn-icons-png.flaticon.com/512/2135/2135050.png"
             alt="<%= nombreEspacioMayuscula %>"
        >
      </div>
      <div class="col-span-8">
        <p>{{nombreModulo + '.descripcionRuta' | translate}}</p>
      </div>
    </div>
  </div>

  <manti-crud-ruta
          [identificadorRuta]="identificadorRuta<%= nombreMayuscula %>"
          [sortFields]="sortFields<%= nombreMayuscula %>"
          [servicio]="<%= nombreCamel %>HttpService"
          [MantiTabla]="MantiTabla<%= nombreMayuscula %>"
          [MantiTablaMovil]="MantiTablaMovil<%= nombreMayuscula %>"
          [MantiFiltros]="MantiFiltros<%= nombreMayuscula %>"
          [MantiOpciones]="MantiOpciones<%= nombreMayuscula %>"
          [findDto]="findDto<%= nombreMayuscula %>"
          [habilitarArchivo]="true"
          [habilitarImagen]="true"
          (crudRutaEvento)="manejarEventos($event)"
          (crudRutaEventoErrorHttp)="manejarEventosError($event)"
          (seleccionoCrear)="manejarEventos($event)"

  >
    <!--        TABLA       -->
    <ng-template #MantiTabla<%= nombreMayuscula %>
                 [tipoTemplate]="_tiposTemplate<%= nombreMayuscula %>"
                 let-contextoCrudRuta<%= nombreMayuscula %>="templateContextoCrudRutaComponent"
    >
      <manti-<%= nombreGuiones %>-tabla [registrosActuales]="contextoCrudRuta<%= nombreMayuscula %>.registrosActuales"
                                    [componente]="contextoCrudRuta<%= nombreMayuscula %>"
      >
      </manti-<%= nombreGuiones %>-tabla>
    </ng-template>
    <!--        TABLA MOVIL       -->
    <ng-template #MantiTablaMovil<%= nombreMayuscula %>
                 [tipoTemplate]="_tiposTemplate<%= nombreMayuscula %>"
                 let-contextoCrudRuta<%= nombreMayuscula %>="templateContextoCrudRutaComponent"
    >
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12" *ngIf="contextoCrudRuta<%= nombreMayuscula %>.registrosActuales">
          <div *ngFor="let registro of contextoCrudRuta<%= nombreMayuscula %>.registrosActuales[0]">
            <manti-<%= nombreGuiones %>-tabla-movil [registro]="registro"
                                                [componente]="contextoCrudRuta<%= nombreMayuscula %>"
                                                [mostrarAcciones]="true"
            >
            </manti-<%= nombreGuiones %>-tabla-movil>
          </div>
        </div>
      </div>
    </ng-template>
    <!--        Formulario BUSQUEDA       -->
    <ng-template #MantiFiltros<%= nombreMayuscula %>
                 [tipoTemplate]="_tiposTemplate<%= nombreMayuscula %>"
                 let-contextoCrudRuta<%= nombreMayuscula %>="templateContextoCrudRutaComponent"
    >
      <div *ngIf="contextoCrudRuta<%= nombreMayuscula %>">
        <div *ngIf="contextoCrudRuta<%= nombreMayuscula %>.mostrarFiltros">
          <form [formGroup]="form<%= nombreMayuscula %>FindDto.form"
                (ngSubmit)="buscar<%= nombreMayuscula %>EnComponenteRuta(contextoCrudRuta<%= nombreMayuscula %>)">
            <manti-<%= nombreGuiones %>-find-dto [ruta]="this" [formManti]="form<%= nombreMayuscula %>FindDto">
            </manti-<%= nombreGuiones %>-find-dto>
            <br>
            <button class="btn btn-outline btn-block" type="submit">
              {{'comunes.buscar' | translate}}
            </button>
            <button class="btn btn-outline btn-block" type="button"
                    (click)="resetear<%= nombreMayuscula %>FindDto()">
              {{'comunes.reset' | translate}}
            </button>
          </form>
        </div>
      </div>
    </ng-template>


    <!--        Formulario CREAR EDITAR       -->
    <ng-template #MantiCrearEditarFormulario<%= nombreMayuscula %>
                 [tipoTemplate]="_tiposTemplate<%= nombreMayuscula %>"
                 let-dialogoManticoreComponent="templateContextoDialogoManticoreComponent"
    >
      <form [formGroup]="form<%= nombreMayuscula %>CreateDto.form">

        <manti-<%= nombreGuiones %>-create-dto *ngIf="!registroActual<%= nombreMayuscula %>" [ruta]="this"
                                           [formManti]="form<%= nombreMayuscula %>CreateDto">
        </manti-<%= nombreGuiones %>-create-dto>
        <manti-<%= nombreGuiones %>-update-dto *ngIf="registroActual<%= nombreMayuscula %> && form<%= nombreMayuscula %>UpdateDto"
                                           [ruta]="this" [formManti]="form<%= nombreMayuscula %>UpdateDto">
        </manti-<%= nombreGuiones %>-update-dto>
      </form>
    </ng-template>
    <!--        Acciones       -->
    <ng-template #MantiOpciones<%= nombreMayuscula %>
                 [tipoTemplate]="_tiposTemplate<%= nombreMayuscula %>"
                 let-contextoCrudRuta<%= nombreMayuscula %>="templateContextoCrudRutaComponent"
    >
      <mat-accordion *ngIf="contextoCrudRuta<%= nombreMayuscula %>.mostrarOpciones === true">
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'comunes.opcionesComunes' |  translate }}
            </mat-panel-title>
            <mat-panel-description>
              {{'comunes.opcionesComunesDescripcion' |  translate }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="grid grid-cols-2 gap-4">
            <div class="col-span-1">
              <button class="btn btn-outline btn-block"
                      (click)="prepararAbrirCrearEditarDialogo<%= nombreMayuscula %>(contextoCrudRuta<%= nombreMayuscula %>)">
                {{'comunes.editar' |  translate }}
              </button>
            </div>
            <div class="col-span-1">
              <button class="btn btn-outline btn-block"
                      (click)="eliminarRegistro<%= nombreMayuscula %>(contextoCrudRuta<%= nombreMayuscula %>)"
              >
                {{'comunes.eliminar' |  translate }}
              </button>
            </div>
            <div class="col-span-1">
              <button class="btn btn-outline btn-block" (click)="contextoCrudRuta<%= nombreMayuscula %>.descargarPDF()"
              >
                PDF
                <clr-icon shape="download"></clr-icon>
              </button>
            </div>
            <div class="col-span-1">
              <button class="btn btn-outline btn-block" (click)="contextoCrudRuta<%= nombreMayuscula %>.descargarCSV()"
              >
                CSV
                <clr-icon shape="list"></clr-icon>
              </button>
            </div>
            <div class="col-span-2">
              <button class="btn btn-outline btn-block"
                      (click)="contextoCrudRuta<%= nombreMayuscula %>.abrirModalGestionArchivos()"
              >
                {{'comunes.gestionarArchivos' |  translate }}
              </button>
            </div>
            <div class="col-span-2">
              <button class="btn btn-outline btn-block"
                      (click)="visualizarRegistro<%= nombreMayuscula %>(contextoCrudRuta<%= nombreMayuscula %>)"
              >
                {{'comunes.visualizar' |  translate }}
              </button>
            </div>

          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
    </ng-template>
  </manti-crud-ruta>

  <div class="footer-contenedor">
    <!--    CONTENIDO FOOTER    -->
  </div>

  <!--        Visualizacion       -->
  <ng-template #ComponenteDialogoVisualizacion<%= nombreMayuscula %>
               [tipoTemplate]="_tiposTemplate<%= nombreMayuscula %>"
               let-dialogoManticoreComponent="templateContextoDialogoManticoreComponent"
  >
    <div *ngIf="dialogoManticoreComponent.data.contextoComponente.registroActual<%= nombreMayuscula %>">
      <manti-<%= nombreGuiones %>-tabla-movil [registro]="registroActual<%= nombreMayuscula %>"
                                          [componente]="componenteCrudRuta<%= nombreMayuscula %>"
                                          [mostrarAcciones]="false"
      >
      </manti-<%= nombreGuiones %>-tabla-movil>
    </div>
  </ng-template>

  <!--        Acciones       -->
  <ng-template #ComponenteDialogoVisualizacionAcciones<%= nombreMayuscula %>
               [tipoTemplate]="_tiposTemplate<%= nombreMayuscula %>"
               let-dialogoManticoreComponent="templateContextoDialogoManticoreComponent"
  >
    <button class="btn btn-outline btn-block"
            (click)="cerrarDialogo<%= nombreMayuscula %>(dialogoManticoreComponent)">
      {{translationConstantes.comunes.aceptar | translate}}
    </button>
  </ng-template>

  <!--        AUTOCOMPLETE       -->
  <!--        AUTOCOMPLETE LIBRO BIBLIOTECA      -->
  <ng-template #Autocomplete<%= nombreMayuscula %>
               [tipoTemplate]="_tiposTemplate<%= nombreMayuscula %>"
               let-autocompleteManticore<%= nombreMayuscula %>=templateContextoAutocompleteManticoreComponent
               let-registro="registro"
  >
    <manti-<%= nombreGuiones %>-tabla-movil [registro]="registro"
                                        [mostrarAcciones]="false"
                                        (click)="seleccionarAutocomplete(
                                        autocompleteManticore<%= nombreMayuscula %>,
                                        registro
                                        )"
    >
    </manti-<%= nombreGuiones %>-tabla-movil>
  </ng-template>

</manti-contenedor-ruta>
