<div *ngIf="arregloCampos.length > 0">
    <mat-accordion [multi]="true">
        <mat-expansion-panel *ngFor="let campo of arregloCampos; let i = index" [expanded]="true    ">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{campo.titulo |  translate }}
                </mat-panel-title>
                <mat-panel-description>
                    {{campo.descripcion |  translate }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <formly-form *ngIf="campo.formularios"
                         [model]="campo.formularios.model"
                         [fields]="campo.formularios.fields"
                         [options]="campo.formularios.options"
                         [form]="campo.formularios.form"></formly-form>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div *ngIf="arregloCampos.length === 0">
    <formly-form *ngIf="formularioManti"
                 [model]="formularioManti.model"
                 [fields]="formularioManti.fields"
                 [options]="formularioManti.options"
                 [form]="formularioManti.form"></formly-form>
</div>

<!-- CAMPO EJEMPLO TEMPLATE SELECCIONADO -->
<!--<ng-template #selectedItemNombreCampoLista-->
<!--             [tipoTemplate]="_tipoCampoSelectSelected"-->
<!--             let-templateContextoSelect="templateContextoFormlyPrimengInputSelect"-->
<!--&gt;-->
<!--    <div *ngIf="templateContextoSelect.form.controls.campoEjemplo">-->
<!--        <div *ngIf="templateContextoSelect.form.controls.campoEjemplo.value">-->
<!--            {{templateContextoSelect.form.controls.campoEjemplo.value.codigoPrimario}} - {{templateContextoSelect.form.controls.campoEjemplo.value.pathTraduccion | translate}}-->
<!--        </div>-->
<!--    </div>-->
<!--</ng-template>-->
<!-- CAMPO EJEMPLO TEMPLATE LISTA -->
<!--<ng-template #itemNombreCampoLista-->
<!--             [tipoTemplate]="_tipoCampoSelectItem"-->
<!--             let-templateContextoSelect="templateContextoFormlyPrimengInputSelect"-->
<!--             let-itemIterado="itemIterado"-->
<!--&gt;-->
<!--    {{itemIterado.codigoPrimario}} - {{itemIterado.pathTraduccion | translate}}-->
<!--</ng-template>-->


<!--        AUTOCOMPLETE MOSTRAR CAMPO EJEMPLO (usado en form)       -->
<!--<ng-template #autocompleteMostrarNombreRelacion-->
<!--             [tipoTemplate]="_tipoAutocomplete"-->
<!--             let-field="field"-->
<!--&gt;-->
<!--    <div *ngIf="tipoDato(field.formControl.value) === 'object'">-->
<!--        <div class="text-center">-->
<!--            <strong>-->
<!--                {{field.formControl.value?.campoNombre}}-->
<!--                - {{field.formControl.value?.campoOtroCampo}}-->
<!--            </strong>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div *ngIf="tipoDato(field.formControl.value) === 'number'">-->
<!--        <p><strong>ID:</strong> {{field.formControl.value}}</p>-->
<!--    </div>-->
<!--</ng-template>-->

<!--<ng-template #autocompleteListarNombreRelacion-->
<!--             [tipoTemplate]="_tiposTemplate<%= nombreMayuscula %>"-->
<!--             let-autocompleteManticore<%= nombreMayuscula %>=templateContextoAutocompleteManticoreComponent-->
<!--             let-registro="registro"-->
<!--&gt;-->
<!--    <manti-nombre-relacion-tabla-movil [registro]="registro"-->
<!--                                          [mostrarAcciones]="true"-->
<!--                                          [renderizarShort]="true"-->
<!--                                          (click)="autocompleteManticore<%= nombreMayuscula %>.data.componente.seleccionarAutocomplete(-->
<!--                                          autocompleteManticore<%= nombreMayuscula %>,-->
<!--                                          registro-->
<!--                                          )"-->
<!--    ></manti-nombre-relacion-tabla-movil>-->
<!--</ng-template>-->