
<mat-card class="filtros">
  <div class="mat-elevation-z8">
    <div class="padding20px">
      <h1>ServicioLogistico</h1>

      <div class="row animate__animated animate__fadeInUp animate__delay-1s">
        <div class="col-md-12">
          <app-ml-contenedor-campos-formulario (todosCamposValidos)="formularioValidoBusqueda($event)"
                                               (cambioCampo)="cambioCampoBusquda($event)"
                                               [vertical]="false"
                                               class="campo-formulario"
                                               tituloFormulario=""
                                               descripcionFormulario=""
                                               [camposFormularioFuncion]="camposFormularioBusqueda"
                                               [selectedStepperIndex]="stepperActualBusqueda"
                                               [gruposFormularioFuncion]="_sRutaServicioLogisticoService.gruposFormularioBusqueda"
                                               [componente]="this"
          ></app-ml-contenedor-campos-formulario>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <br>
          <button pButton
                  pRipple
                  type="button"
                  label="Buscar"
                  class="p-button-raised p-button-primary"
                  icon="pi pi-search"
                  (click)="buscarConFiltros()"
          ></button>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

  </div>

</mat-card>
<br>
<mat-card>
  <div class="padding20px">
    <h1>Registros</h1>
    <p>DESCRIPCION.</p>
    <div class="mat-elevation-z8">
      <p-table [columns]="columnasPrimeTable"
               [value]="_sRutaServicioLogisticoService.arregloDatosFiltrado"
               [lazy]="true"
               (onLazyLoad)="_sRutaServicioLogisticoService.cargarMasDatos($event)"
               [paginator]="true"
               [rows]="_sRutaServicioLogisticoService.take"
               [totalRecords]="_sRutaServicioLogisticoService.totalRecords"
               [rowsPerPageOptions]="_sRutaServicioLogisticoService.registrosPorPagina"
               [(first)]="_sRutaServicioLogisticoService.first"
               dataKey="idSLogisticos"
               [customSort]="true"
      >

        <ng-template pTemplate="caption">
          <div class="p-d-flex table-header">
            <div class="row">
              <div class="col-sm-8">
                <div color="accent">
                  <label class="form-label">Filtro:</label>
                  <input placeholder="Ej: ..."
                         class="form-control"
                         [(ngModel)]="_sRutaServicioLogisticoService.filtroGeneralTabla"
                         (keyup)="_sRutaServicioLogisticoService.aplicarFiltro($event, [])"
                  >
                </div>
              </div>
              <div class="col-sm-2">
                <div class="paddingTop36px text-center">
                  <button (click)="_sRutaServicioLogisticoService.limpiarFiltroGeneral()"
                          *ngIf="_sRutaServicioLogisticoService.filtroGeneralTabla !== ''"
                          pButton
                          pRipple
                          type="button"
                          icon="pi pi-times"
                          class="p-button-rounded p-button-help p-button-outlined"></button>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="float-end margen-boton-crear-tabla">
                  <button pButton
                          pRipple
                          label="Crear"
                          icon="pi pi-plus"
                          class="p-button-success p-mr-2"
                          (click)="botonAceptarModalDisabled = true;"
                          (click)="_sRutaServicioLogisticoService.abrirModal(this,undefined)"
                  ></button>
                </div>
              </div>

            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.tamanio">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumn]="col.field">
              <div class="p-d-flex p-jc-between p-ai-center">
                <div class="text-center">
                  {{col.header}}
                </div>
              </div>
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-servicioLogistico let-columns="columns" let-indice="rowIndex" let-expandido="expanded">

          <tr class="p-selectable-row">
            <td *ngFor="let col of columns"  [ngClass]="{
           'valido-carta':servicioLogistico.habilitado,
           'invalido-carta':!servicioLogistico.habilitado }">
              <div *ngIf="col.field !== 'idSLogisticos' && col.field !== 'sisHabilitado'">
                <div [ngClass]="{
          'text-center':col.posicion === 'text-center',
          'text-left':col.posicion === 'text-left',
          'text-right':col.posicion === 'text-right'
          }">
                  {{servicioLogistico[col.field]}}
                </div>
              </div>
              <div *ngIf="col.field === 'sisHabilitado'">
                <div class="text-center">
                  <br>
                  <p-inputSwitch [(ngModel)]="servicioLogistico.habilitado"
                                 (onChange)="_sRutaServicioLogisticoService
                             .activarDesactivar(
                             $event,
                             servicioLogistico.idSLogisticos,
                             servicioLogistico.habilitado,
                             'sisHabilitado'
                             )"
                  ></p-inputSwitch>
                </div>
              </div>
              <div *ngIf="col.field === 'idSLogisticos'">
                <div class="text-center">
                  <br>
                  <p-button
                    label="Editar"
                    [disabled]="!servicioLogistico.habilitado"
                    icon="pi pi-pencil"
                    styleClass="p-button-warning"
                    (onClick)="botonAceptarModalDisabled = true;"
                    (onClick)="_sRutaServicioLogisticoService.abrirModal(
                this,
                servicioLogistico
                )"
                  ></p-button>
                  <div *ngFor="let opcion of opciones">
                    <br>
                    <p-button
                      [label]="opcion.nombre"
                      [disabled]="!servicioLogistico.habilitado"
                      icon="pi pi-angle-double-right"
                      styleClass="p-button-help"
                      (onClick)="_sRutaServicioLogisticoService.navegar(
                  _router,
                  opcion.ruta(servicioLogistico.idSLogisticos)
                )"
                    ></p-button>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center">

              {{_sRutaServicioLogisticoService.registrosPagina}} registros de un total de {{_sRutaServicioLogisticoService.totalRecords}} registros.

            </div>
            <div class="col-sm-4"></div>
          </div>
        </ng-template>
      </p-table>

    </div>
  </div>
</mat-card>

<br>
<br>
