
<% if(ionic){ %>
<ion-content>
  <ng-container *transloco="let g;">
  <ng-container *transloco="let l; read:objetoInternacionalizacion.nombreScopeTransloco">
    <br>
    <ion-refresher slot="fixed" (ionRefresh)="buscarConFiltros($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col></ion-col>
        <ion-col>
          <div class="text-center">

          </div>
          <ion-button size="small"
                      color="success"
                      expand="full"
                      (click)="botonAceptarModalDisabled = true;"
                      (click)="_sRuta<%= nombreMayuscula %>Service.formularioEnModalActual = undefined;"
                      (click)="_sRuta<%= nombreMayuscula %>Service.camposSeleccionadosFormulario = {};"
                      (click)="_sRuta<%= nombreMayuscula %>Service.setearCamposRequeridosAFalso(this);"
                      (click)="abrirModal()"
          >
            {{g('generales.botones.crear')}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-item>
        <ion-icon (click)="mostrarFiltros = !mostrarFiltros;" slot="end" [name]="mostrarFiltros ? 'filter-circle-outline': 'filter-outline'"></ion-icon>
        <ion-label>{{mostrarFiltros ? g('generales.filtroMovil.tituloFiltroActivo') : g('generales.filtroMovil.tituloFiltroOculto')}}</ion-label>
      </ion-item>
    </ion-list>
    <div *ngIf="mostrarFiltros"
         [ngClass]="{
         'contenedor-movil': true,
         'filtros': true
         }"
    >
      <app-ml-contenedor-campos-formulario (todosCamposValidos)="formularioValidoBusqueda($event)"
                                           (cambioCampo)="cambioCampoBusqueda($event)"
                                           (cambioAutocomplete)="formularioBusquedacambioCampoAutocomplete($event)"
                                           [vertical]="false"
                                           class="campo-formulario"
                                           id="filtro-<%= nombreGuiones %>"
                                           tituloFormulario="formularios.busqueda.formularioBusqueda.tituloFormulario"
                                           descripcionFormulario="formularios.busqueda.formularioBusqueda.descripcionFormulario"
                                           descripcionFormularioConGrupo="formularios.busqueda.formularioBusqueda.descripcionFormularioConGrupo"
                                           tituloFormularioConGrupo="formularios.busqueda.formularioBusqueda.tituloFormularioConGrupo"
                                           [habilitarInternacionalizacion]="true"
                                           [objetoInternacionalizacion]="objetoInternacionalizacion"
                                           [camposFormularioFuncion]="camposFormularioBusqueda"
                                           [selectedStepperIndex]="stepperActualBusqueda"
                                           [gruposFormularioFuncion]="_sRuta<%= nombreMayuscula %>Service.gruposFormularioBusqueda"
                                           [componente]="this"
      ></app-ml-contenedor-campos-formulario>
    </div>

    <ion-list>
      <ion-item  *ngIf="mostrarFiltros">

        <ion-button class="w-100"
                    size="small"
                    expand="block"
                    (click)="buscarConFiltros()"
                    (click)="mostrarFiltros = false;"
        >
          {{g('generales.botones.buscar')}}
        </ion-button>
      </ion-item>
      <ion-item *ngFor="let <%= nombreCamel %> of _sRuta<%= nombreMayuscula %>Service.arregloDatosFiltrado">
        <app-mostrar-<%= nombreGuiones %>-lista class="w-100" [registro]="<%= nombreCamel %>" [componente]="this">

        </app-mostrar-<%= nombreGuiones %>-lista>
      </ion-item>
    </ion-list>
    <div class="text-center">
      <br>
      <ion-button size="small" *ngIf="!_sRuta<%= nombreMayuscula %>Service.yaNoHayMasRegistros"
                  (click)="paginaActual.vecesPeticion = paginaActual.vecesPeticion + 1;"
                  (click)="paginaActual.first = _sRuta<%= nombreMayuscula %>Service.arregloDatosFiltrado.length;"
                  (click)="_sRuta<%= nombreMayuscula %>Service.cargarMasDatos(paginaActual, this, true)"
      > {{g('generales.cargarMas')}}</ion-button>
    </div>
    <h1 *ngIf="_sRuta<%= nombreMayuscula %>Service.yaNoHayMasRegistros"
        class="text-center"
    >
      {{g('generales.noHayMasRegistros')}} <ion-icon name="sad"></ion-icon>
    </h1>
    <br>
    <br>
  </ng-container>
  </ng-container>
</ion-content>

<% } else { %>

<% if(!internacionalizar){ %>
<app-migas-de-pan [migasDePan]="migasPan"
                  [classA]="'miga-pan-link'"
                  [classSpan]="'miga-pan'"
></app-migas-de-pan>
<mat-card class="filtros">

  <div class="animate__animated animate__fadeInRight">
    <mlab-titulo-pantalla
            [titulo]="'<%= nombreMayuscula %>'"
            [descripcion]="'Descripcion <%= nombreMayuscula %>'"
            [imagen]="rutaImagenPrincipal"
            [ayuda]="'Ayuda <%= nombreMayuscula %>'"
    >
    </mlab-titulo-pantalla>
  </div>

  <div class="mat-elevation-z8">
    <div class="padding20px">
      <h1><%= nombreMayuscula %></h1>

      <div class="row animate__animated animate__fadeIn">
        <div class="col-md-12">
          <app-ml-contenedor-campos-formulario (todosCamposValidos)="formularioValidoBusqueda($event)"
                                               (cambioCampo)="cambioCampoBusqueda($event)"
                                               (cambioAutocomplete)="formularioBusquedacambioCampoAutocomplete($event)"
                                               [vertical]="false"
                                               class="campo-formulario"
                                               id="filtro-<%= nombreGuiones %>"
                                               tituloFormulario=""
                                               descripcionFormulario=""
                                               [camposFormularioFuncion]="camposFormularioBusqueda"
                                               [selectedStepperIndex]="stepperActualBusqueda"
                                               [gruposFormularioFuncion]="_sRuta<%= nombreMayuscula %>Service.gruposFormularioBusqueda"
                                               [componente]="this"
          ></app-ml-contenedor-campos-formulario>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <br>
          <button pButton
                  pRipple
                  type="button"
                  label="Buscar"
                  id="busqueda-filtros-<%= nombreGuiones %>"
                  class="p-button-raised p-button-primary"
                  icon="pi pi-search"
                  (click)="buscarConFiltros()"
          ></button>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

  </div>

</mat-card>
<br>
<mat-card>
  <div class="padding20px">
    <h1>Registros</h1>
    <p>DESCRIPCION.</p>
    <div class="mat-elevation-z8">
      <% if(!esFirebase){ %>
      <p-table [columns]="columnasPrimeTable"
               [value]="_sRuta<%= nombreMayuscula %>Service.arregloDatosFiltrado"
               [lazy]="true"
               (onLazyLoad)="_sRuta<%= nombreMayuscula %>Service.cargarMasDatos($event)"
               [paginator]="true"
               [rows]="_sRuta<%= nombreMayuscula %>Service.take"
               [totalRecords]="_sRuta<%= nombreMayuscula %>Service.totalRecords"
               [rowsPerPageOptions]="_sRuta<%= nombreMayuscula %>Service.registrosPorPagina"
               [(first)]="_sRuta<%= nombreMayuscula %>Service.first"
               dataKey="<%= id %>"
               styleClass="p-datatable-responsive-demo"
               [customSort]="true"
      >
        <% } %>

        <% if(esFirebase){ %>
        <p-table [columns]="columnasPrimeTable"
                 [value]="_sRuta<%= nombreMayuscula %>Service.arregloDatosFiltrado"
                 [rows]="_sRuta<%= nombreMayuscula %>Service.take"
                 [(first)]="_sRuta<%= nombreMayuscula %>Service.first"
                 dataKey="<%= id %>"
                 styleClass="p-datatable-responsive-demo"
                 [customSort]="true"
                 (sortFunction)="_sRuta<%= nombreMayuscula %>Service.sortFirebase($event, this)"
        >
          <% }%>

          <ng-template pTemplate="caption">
            <div class="p-d-flex table-header">
              <div class="row">
                <div class="col-sm-8">
                  <div color="accent">
                    <label class="form-label">Filtro:</label>
                    <input placeholder="Ej: ..."
                           class="form-control"
                           [(ngModel)]="_sRuta<%= nombreMayuscula %>Service.filtroGeneralTabla"
                           (keyup)="_sRuta<%= nombreMayuscula %>Service.aplicarFiltro($event, [])"
                    >
                  </div>
                </div>
                <!--              Seccion para campos autogenerados para mostrar table y formulario-->

                <!--              <div class="col-sm-2">-->
                <!--                <div class="float-end margen-boton-crear-tabla">-->
                <!--                  <button pButton-->
                <!--                          pRipple-->
                <!--                          label="Previsualizar tabla"-->
                <!--                          icon="pi pi-plus"-->
                <!--                          class="p-button-primary p-mr-2"-->
                <!--                          (click)="abrirModalAutogenerados(true)"-->
                <!--                  ></button>-->
                <!--                </div>-->
                <!--              </div>-->
                <!--              <div class="col-sm-2">-->
                <!--                <div class="float-end margen-boton-crear-tabla">-->
                <!--                  <button pButton-->
                <!--                          pRipple-->
                <!--                          label="Actualizar Nuevos Campos"-->
                <!--                          icon="pi pi-plus"-->
                <!--                          class="p-button-primary p-mr-2"-->
                <!--                          (click)="abrirModalAutogenerados()"-->
                <!--                  ></button>-->
                <!--                </div>-->
                <!--              </div>-->
                <div class="col-sm-2">
                  <div class="paddingTop36px text-center">
                    <button (click)="_sRuta<%= nombreMayuscula %>Service.limpiarFiltroGeneral()"
                            *ngIf="_sRuta<%= nombreMayuscula %>Service.filtroGeneralTabla !== ''"
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-times"
                            class="p-button-rounded p-button-help p-button-outlined"></button>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="float-end margen-boton-crear-tabla"  *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Crear')">
                    <button pButton
                            pRipple
                            label="Crear"
                            id="crear-<%= nombreGuiones %>"
                            icon="pi pi-plus"
                            class="p-button-success p-mr-2"
                            (click)="botonAceptarModalDisabled = true;"
                            (click)="_sRuta<%= nombreMayuscula %>Service.formularioEnModalActual = undefined;"
                            (click)="_sRuta<%= nombreMayuscula %>Service.camposSeleccionadosFormulario = {};"
                            (click)="_sRuta<%= nombreMayuscula %>Service.setearCamposRequeridosAFalso(this);"
                            (click)="_sRuta<%= nombreMayuscula %>Service.abrirModal(this,undefined)"
                    ></button>
                  </div>
                </div>

              </div>
            </div>
          </ng-template>

          <!--          <ng-template pTemplate="colgroup" let-columns>-->
          <!--            <colgroup>-->
          <!--              <col *ngFor="let col of columns" [style.width]="col.tamanio">-->
          <!--            </colgroup>-->
          <!--          </ng-template>-->
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumn]="col.field">
                <div class="p-d-flex p-jc-between p-ai-center">
                  <div class="text-center">
                    {{col.header}}
                  </div>
                </div>
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-<%= nombreCamel %> let-columns="columns" let-indice="rowIndex" let-expandido="expanded">

          <!--        <tr-->
          <!--                *ngIf="_sRuta<%= nombreMayuscula %>Service.rowGroupMetadata[<%= nombreCamel %>.campoRelacion.campoNombre].index === indice && _sRuta<%= nombreMayuscula %>Service.nombreAtributoAAgrupar.length > 0"-->
          <!--                class="p-selectable-row"-->
          <!--        >-->
          <!--          <td [colSpan]="columns.length">-->
          <!--            <span class="p-text-bold p-ml-2"> <strong class="color-grupo">CAMPO NOMBRE: </strong> <strong>{{<%= nombreCamel %>.campoRelacion.campoNombre}}</strong></span>-->
          <!--          </td>-->
          <!--        </tr>-->

          <tr class="p-selectable-row"  [id]="'tr-' + <%= nombreCamel %>.<%= id %>">
            <td *ngFor="let col of columns"  [ngClass]="{
           'valido-carta':<%= nombreCamel %>.habilitado,
           'invalido-carta':!<%= nombreCamel %>.habilitado }">


              <span class="p-column-title">{{col.header}}:</span>

              <div *ngIf="col.field !== '<%= id %>' && col.field !== '<%= nombreHabilitado %>'">
                <div [ngClass]="{
          'text-center':col.posicion === 'text-center',
          'text-left':col.posicion === 'text-left',
          'text-right':col.posicion === 'text-right'
          }">
                  {{col.fnMostrar ? col.fnMostrar(<%= nombreCamel %>[col.field]) : <%= nombreCamel %>[col.field]}}
                </div>
              </div>


              <!--              <div *ngIf="col.header === 'sis_IM'" class="text-center">-->
              <!--                <div *ngIf="<%= nombreCamel %>.sis_IM">-->
              <!--                  <p *ngIf="<%= nombreCamel %>.sis_IM.nombre && <%= nombreCamel %>.sis_IM.nombre !== 'undefined'">-->
              <!--                    <strong>{{<%= nombreCamel %>.sis_IM.nombre}}</strong> {{<%= nombreCamel %>.sis_IM.descripcion}}</p>-->
              <!--                  <p><strong>Imagen:</strong></p>-->
              <!--                  <img class="img-fluid imagen-tabla" [src]="col.fnMostrarImagen(<%= nombreCamel %>)" alt="">-->
              <!--                  <p><strong>Nombre Imagen-->
              <!--                    :</strong> {{<%= nombreCamel %>.sis_IM.originalname}}</p>-->
              <!--                </div>-->
              <!--                <div *ngIf="!<%= nombreCamel %>.sis_IM">-->
              <!--                  <p><strong>Imagen:</strong></p>-->
              <!--                  <img class="img-fluid imagen-tabla" src="assets/img/comun/imagen.svg" alt="">-->
              <!--                  <p><strong>Nombre Imagen-->
              <!--                    :</strong> Sube aquí tu imagen</p>-->
              <!--                </div>-->
              <!--                <div class="espaciador"></div>-->
              <!--                <div *ngIf="<%= nombreCamel %>.sis_AR">-->
              <!--                  <p *ngIf="<%= nombreCamel %>.sis_AR.nombre  && <%= nombreCamel %>.sis_AR.nombre !== 'undefined'">-->
              <!--                    <strong>{{<%= nombreCamel %>.sis_AR.nombre}}</strong> {{<%= nombreCamel %>.sis_AR.descripcion}}</p>-->
              <!--                  <div class="text-center">-->
              <!--                    <strong>Archivo:</strong> {{<%= nombreCamel %>.sis_AR.mimetype}} <img-->
              <!--                          class="imagen-icono" src="assets/libreria/icono-archivo.svg" alt="">-->
              <!--                  </div>-->
              <!--                  <p><strong>Nombre archivo-->
              <!--                    :</strong> {{<%= nombreCamel %>.sis_AR.originalname}}</p>-->

              <!--                  <div>-->
              <!--                    <br>-->
              <!--                    <p-button-->
              <!--                            [label]="'Descargar archivo'"-->
              <!--                            [disabled]="!<%= nombreCamel %>.habilitado"-->
              <!--                            icon="pi pi-angle-double-right"-->
              <!--                            styleClass="p-button-help"-->
              <!--                            (click)="_sRuta<%= nombreMayuscula %>Service.descargarArchivo(<%= nombreCamel %>.sis_AR)"-->
              <!--                    ></p-button>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </div>-->

              <div *ngIf="col.field === '<%= nombreHabilitado %>'">
                <div class="text-center"  *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'EditarHabilitado')">
                  <br>
                  <p-inputSwitch [(ngModel)]="<%= nombreCamel %>.habilitado"
                                 (onChange)="_sRuta<%= nombreMayuscula %>Service
                             .activarDesactivar(
                             $event,
                             <%= nombreCamel %>.<%= id %>,
                             <%= nombreCamel %>.habilitado,
                             '<%= nombreHabilitado %>',
                             <%= nombreCamel %>,
                             this
                             )"
                  ></p-inputSwitch>
                </div>
              </div>
              <div *ngIf="col.field === '<%= id %>'">
<!--                                <div class="row">-->
<!--                                  <div class="col-sm-6">-->
<!--                                    <p-button-->
<!--                                            [disabled]="!<%= nombreCamel %>.habilitado"-->
<!--                                            *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Editar')"-->
<!--                                            icon="pi pi-image"-->
<!--                                            styleClass="p-button-help boton-archivos"-->
<!--                                            (click)="abrirFormularioCrearArchivo('IM', <%= nombreCamel %>)"-->
<!--                                    ></p-button>-->
<!--                                  </div>-->
<!--                                  <div class="col-sm-6">-->
<!--                                    <p-button-->
<!--                                            [disabled]="!<%= nombreCamel %>.habilitado"-->
<!--                                            *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Editar')"-->
<!--                                            icon="pi pi-file"-->
<!--                                            styleClass="p-button-help boton-archivos"-->
<!--                                            (click)="abrirFormularioCrearArchivo('AR', <%= nombreCamel %>)"-->
<!--                                    ></p-button>-->
<!--                                  </div>-->
<!--                                </div>-->
                <div class="text-center">
                  <br>
                  <p-button
                          label="Editar"
                          [id]="'tr' + <%= nombreCamel %>.<%= id %> +'_editar'"
                          *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Editar')"
                          [disabled]="!<%= nombreCamel %>.habilitado"
                          icon="pi pi-pencil"
                          styleClass="p-button-warning"
                          (click)="botonAceptarModalDisabled = true;"
                          (click)="_sRuta<%= nombreMayuscula %>Service.formularioEnModalActual = undefined;"
                          (click)="_sRuta<%= nombreMayuscula %>Service.camposSeleccionadosFormulario = {};"
                          (click)="_sRuta<%= nombreMayuscula %>Service.setearCamposRequeridosAFalso(this);"
                          (click)="abrirModal(<%= nombreCamel %>)"
                  ></p-button>

                  <!--                  <button mat-icon-button [matMenuTriggerFor]="opcionesRuta"-->
                  <!--                          aria-label="Example icon-button with a menu">-->
                  <!--                    <mat-icon>more_vert</mat-icon>-->
                  <!--                  </button>-->

<!--                  <mat-menu #opcionesRuta="matMenu">-->
<!--                  <div  *ngFor="let opcion of opciones">-->
<!--                    <div *ngIf="opcion.permisoEditar ? _seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Editar') : true">-->
<!--                      <button *ngFor="let opcion of opciones"-->
<!--                              mat-menu-item-->
<!--                              [disabled]="!<%= nombreCamel %>.habilitado"-->
<!--                              (click)="_sRuta<%= nombreMayuscula %>Service.navegar(-->
<!--                                                             _router,-->
<!--                                                             opcion.ruta(<%= nombreCamel %>.id))"-->
<!--                      >-->

<!--                        <mat-icon>keyboard_arrow_right</mat-icon>-->
<!--                        <img [src]="rutaImagenAssets + opcion.rutaImagen"-->
<!--                             alt=""-->
<!--                             class="icono-navegacion"-->
<!--                        > {{opcion.nombre}}-->
<!--                      </button>-->
<!--                    </div>-->

<!--                  </div>-->

<!--                  </mat-menu>-->
<!--                </div>-->

                <!--                <div>-->
                <!--                  <br>-->
                <!--                  <p-button-->
                <!--                          [label]="'Subir imagen'"-->
                <!--                          [disabled]="!<%= nombreCamel %>.habilitado"-->
                <!--                          icon="pi pi-angle-double-right"-->
                <!--                          styleClass="p-button-help"-->
                <!--                          (click)="abrirFormularioCrearArchivo('imagen', <%= nombreCamel %>)"-->
                <!--                  ></p-button>-->
                <!--                </div>-->
                <!--                <div>-->
                <!--                  <br>-->
                <!--                  <p-button-->
                <!--                          [label]="'Subir archivo'"-->
                <!--                          [disabled]="!<%= nombreCamel %>.habilitado"-->
                <!--                          icon="pi pi-angle-double-right"-->
                <!--                          styleClass="p-button-help"-->
                <!--                          (click)="abrirFormularioCrearArchivo('archivo', <%= nombreCamel %>)"-->
                <!--                  ></p-button>-->
                <!--                </div>-->
                <!--                <div>-->
                <!--                  <br>-->
                <!--                  <p-button-->
                <!--                          [label]="'Gestionar imagenes'"-->
                <!--                          [disabled]="!<%= nombreCamel %>.habilitado"-->
                <!--                          icon="pi pi-angle-double-right"-->
                <!--                          styleClass="p-button-help"-->
                <!--                          (click)="irRutaArchivos('imagen', <%= nombreCamel %>)"-->
                <!--                  ></p-button>-->
                <!--                </div>-->
                <!--                <div>-->
                <!--                  <br>-->
                <!--                  <p-button-->
                <!--                          [label]="'Gestionar archivos'"-->
                <!--                          [disabled]="!<%= nombreCamel %>.habilitado"-->
                <!--                          icon="pi pi-angle-double-right"-->
                <!--                          styleClass="p-button-help"-->
                <!--                          (click)="irRutaArchivos('archivo', <%= nombreCamel %>)"-->
                <!--                  ></p-button>-->
                <!--                </div>-->
              </div>
            </td>
          </tr>
          </ng-template>


          <!--        <ng-template pTemplate="rowexpansion" let-<%= nombreCamel %> let-columns="columns">-->
          <!--          <tr class="detalle-tr p-selectable-row animate__animated animate__fadeIn">-->
          <!--            <td [colSpan]="columns.length" [ngClass]="{-->
          <!--           'valido-carta':<%= nombreCamel %>.habilitado,-->
          <!--           'invalido-carta':!<%= nombreCamel %>.habilitado }">-->
          <!--              <table class="detalle">-->
          <!--                <tr class="p-selectable-row detalle">-->
          <!--                  <th><strong>ATRIBUTO</strong></th>-->
          <!--                  <th><strong>VALOR</strong></th>-->
          <!--                </tr>-->
          <!--                <tr class="p-selectable-row detalle"-->
          <!--                    *ngFor="let valor of _sRuta<%= nombreMayuscula %>Service.generarObjeto(<%= nombreCamel %>)">-->
          <!--                  <td><strong>{{valor.llave}}</strong></td>-->
          <!--                  <td>-->
          <!--                    &lt;!&ndash;  CAMPOS QUE USEN PIPES      &ndash;&gt   -->
          <!--                <span *ngIf="valor.nombreCampo === 'algunCampoQueQuireaUsarUnPipe'">-->
          <!--                {{valor.valor | currency}}-->
          <!--                </span>-->
          <!--                     &lt;!&ndash; TODOS LOS DEMAS CAMPOS       &ndash;&gt   -->
          <!--                    <span *ngIf="valor.nombreCampo !== 'algunCampoQueQuireaUsarUnPipe'">-->
          <!--                  {{valor.valor}}-->
          <!--                </span>-->

          <!--                  </td>-->
          <!--                </tr>-->
          <!--                     &lt;!&ndash; CAMPOS RELACIONADOS      &ndash;&gt   -->
          <!--                <tr class="p-selectable-row detalle">-->
          <!--                  <td><strong>Campo Relacionado</strong></td>-->
          <!--                  <td>{{<%= nombreCamel %>.campoRelacion.campoNombre}}</td>-->
          <!--                </tr>-->
          <!--              </table>-->
          <!--            </td>-->
          <!--          </tr>-->

          <!--        </ng-template>-->
          <!--        -->

          <ng-template pTemplate="summary">
            <div class="row">
              <div class="col-sm-4"></div>
              <div class="col-sm-4 text-center">
                <% if(!esFirebase){ %>
                {{_sRuta<%= nombreMayuscula %>Service.registrosPagina}} registros de un total de {{_sRuta<%= nombreMayuscula %>Service.totalRecords}} registros.
                <% } %>
                <% if(esFirebase){ %>
                <div *ngIf="_sRuta<%= nombreMayuscula %>Service.yaNoHayMasRegistros">
                  <p class="text-center bold">No hay mas registros.</p>
                </div>
                <div *ngIf="!_sRuta<%= nombreMayuscula %>Service.yaNoHayMasRegistros">
                  <button pButton
                          pRipple
                          label="Cargar más"
                          icon="pi pi-download"
                          class="p-button-help p-mr-2"
                          (click)="_sRuta<%= nombreMayuscula %>Service.limpiarFiltroGeneral()"
                          (click)="buscarSuscrito()"
                  >
                  </button>
                </div>
                <% } %>

              </div>
              <div class="col-sm-4"></div>
            </div>
          </ng-template>
        </p-table>

    </div>
  </div>
</mat-card>

<br>
<br>

<% } %>

<% if(internacionalizar){ %>
<ng-container *transloco="let l; read:objetoInternacionalizacion.nombreScopeTransloco">
  <app-migas-de-pan [migasDePan]="migasPan"
                    [classA]="'miga-pan-link'"
                    [classSpan]="'miga-pan'"
                    [habilitarInternacionalizacion]="true"
  ></app-migas-de-pan>
  <mat-card class="filtros">

    <div class="animate__animated animate__fadeInRight">
      <mlab-titulo-pantalla
              [titulo]="l('nombreRuta')"
              [descripcion]="l('descripcionRuta')"
              [imagen]="rutaImagenPrincipal"
              [ayuda]="l('ayudaRuta')"
      >
      </mlab-titulo-pantalla>
    </div>

    <div class="mat-elevation-z8">
      <div class="padding20px">
        <h1><%= nombreMayuscula %></h1>

        <div class="row animate__animated animate__fadeIn">
          <div class="col-md-12">
            <app-ml-contenedor-campos-formulario (todosCamposValidos)="formularioValidoBusqueda($event)"
                                                 (cambioCampo)="cambioCampoBusqueda($event)"
                                                 (cambioAutocomplete)="formularioBusquedacambioCampoAutocomplete($event)"
                                                 [vertical]="false"
                                                 class="campo-formulario"
                                                 id="filtro-<%= nombreGuiones %>"
                                                 tituloFormulario="formularios.busqueda.formularioBusqueda.tituloFormulario"
                                                 descripcionFormulario="formularios.busqueda.formularioBusqueda.descripcionFormulario"
                                                 descripcionFormularioConGrupo="formularios.busqueda.formularioBusqueda.descripcionFormularioConGrupo"
                                                 tituloFormularioConGrupo="formularios.busqueda.formularioBusqueda.tituloFormularioConGrupo"
                                                 [habilitarInternacionalizacion]="true"
                                                 [objetoInternacionalizacion]="objetoInternacionalizacion"
                                                 [camposFormularioFuncion]="camposFormularioBusqueda"
                                                 [selectedStepperIndex]="stepperActualBusqueda"
                                                 [gruposFormularioFuncion]="_sRuta<%= nombreMayuscula %>Service.gruposFormularioBusqueda"
                                                 [componente]="this"
            ></app-ml-contenedor-campos-formulario>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <br>
            <button pButton
                    pRipple
                    type="button"
                    [label]="'generales.botones.buscar' | transloco"
                    id="busqueda-filtros-<%= nombreGuiones %>"
                    class="p-button-raised p-button-primary"
                    icon="pi pi-search"
                    (click)="buscarConFiltros()"
            ></button>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>

    </div>

  </mat-card>
  <br>
  <mat-card>
    <div class="padding20px">
      <h1>{{l('tituloTabla')}}</h1>
      <p>{{l('descripcionTabla')}}</p>
      <div class="mat-elevation-z8">
        <% if(!esFirebase){ %>
        <p-table [columns]="columnasPrimeTable"
                 [value]="_sRuta<%= nombreMayuscula %>Service.arregloDatosFiltrado"
                 [lazy]="true"
                 (onLazyLoad)="_sRuta<%= nombreMayuscula %>Service.cargarMasDatos($event, this)"
                 [paginator]="true"
                 [rows]="_sRuta<%= nombreMayuscula %>Service.take"
                 [totalRecords]="_sRuta<%= nombreMayuscula %>Service.totalRecords"
                 [rowsPerPageOptions]="_sRuta<%= nombreMayuscula %>Service.registrosPorPagina"
                 [(first)]="_sRuta<%= nombreMayuscula %>Service.first"
                 styleClass="p-datatable-responsive-demo"
                 dataKey="<%= id %>"
                 [customSort]="true"
        >
          <% } %>

          <% if(esFirebase){ %>
          <p-table [columns]="columnasPrimeTable"
                   [value]="_sRuta<%= nombreMayuscula %>Service.arregloDatosFiltrado"
                   [rows]="_sRuta<%= nombreMayuscula %>Service.take"
                   [(first)]="_sRuta<%= nombreMayuscula %>Service.first"
                   styleClass="p-datatable-responsive-demo"
                   dataKey="<%= id %>"
                   [customSort]="true"
                   (sortFunction)="_sRuta<%= nombreMayuscula %>Service.sortFirebase($event, this)"
          >
            <% }%>

            <ng-template pTemplate="caption">
              <div class="p-d-flex table-header">
                <div class="row">
                  <div class="col-sm-8">
                    <div color="accent">
                      <label class="form-label">{{'generales.filtro' | transloco}}:</label>
                      <input [placeholder]="l('filtroTabla')"
                             class="form-control"
                             [(ngModel)]="_sRuta<%= nombreMayuscula %>Service.filtroGeneralTabla"
                             (keyup)="_sRuta<%= nombreMayuscula %>Service.aplicarFiltro($event, [])"
                      >
                    </div>
                  </div>
                  <!--              Seccion para campos autogenerados para mostrar table y formulario-->

                  <!--              <div class="col-sm-2">-->
                  <!--                <div class="float-end margen-boton-crear-tabla">-->
                  <!--                  <button pButton-->
                  <!--                          pRipple-->
                  <!--                          label="Previsualizar tabla"-->
                  <!--                          icon="pi pi-plus"-->
                  <!--                          class="p-button-primary p-mr-2"-->
                  <!--                          (click)="abrirModalAutogenerados(true)"-->
                  <!--                  ></button>-->
                  <!--                </div>-->
                  <!--              </div>-->
                  <!--              <div class="col-sm-2">-->
                  <!--                <div class="float-end margen-boton-crear-tabla">-->
                  <!--                  <button pButton-->
                  <!--                          pRipple-->
                  <!--                          label="Actualizar Nuevos Campos"-->
                  <!--                          icon="pi pi-plus"-->
                  <!--                          class="p-button-primary p-mr-2"-->
                  <!--                          (click)="abrirModalAutogenerados()"-->
                  <!--                  ></button>-->
                  <!--                </div>-->
                  <!--              </div>-->
                  <div class="col-sm-2">
                    <div class="paddingTop36px text-center">
                      <button (click)="_sRuta<%= nombreMayuscula %>Service.limpiarFiltroGeneral()"
                              *ngIf="_sRuta<%= nombreMayuscula %>Service.filtroGeneralTabla !== ''"
                              pButton
                              pRipple
                              type="button"
                              icon="pi pi-times"
                              class="p-button-rounded p-button-help p-button-outlined"></button>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="float-end margen-boton-crear-tabla"  *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Crear')">
                      <button pButton
                              pRipple
                              [label]="'generales.botones.crear' | transloco"

                              id="crear-<%= nombreGuiones %>"
                              icon="pi pi-plus"
                              class="p-button-success p-mr-2"
                              (click)="botonAceptarModalDisabled = true;"
                              (click)="_sRuta<%= nombreMayuscula %>Service.formularioEnModalActual = undefined;"
                              (click)="_sRuta<%= nombreMayuscula %>Service.camposSeleccionadosFormulario = {};"
                              (click)="_sRuta<%= nombreMayuscula %>Service.setearCamposRequeridosAFalso(this);"
                              (click)="_sRuta<%= nombreMayuscula %>Service.abrirModal(this,undefined)"
                      ></button>
                    </div>
                  </div>

                </div>
              </div>
            </ng-template>

            <!--            <ng-template pTemplate="colgroup" let-columns>-->
            <!--              <colgroup>-->
            <!--                <col *ngFor="let col of columns" [style.width]="col.tamanio">-->
            <!--              </colgroup>-->
            <!--            </ng-template>-->
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumn]="col.field">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    <div class="text-center">
                      {{l('cabeceraTabla.' + col.header)}}
                    </div>
                  </div>
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-<%= nombreCamel %> let-columns="columns" let-indice="rowIndex" let-expandido="expanded">

            <!--        <tr-->
            <!--                *ngIf="_sRuta<%= nombreMayuscula %>Service.rowGroupMetadata[<%= nombreCamel %>.campoRelacion.campoNombre].index === indice && _sRuta<%= nombreMayuscula %>Service.nombreAtributoAAgrupar.length > 0"-->
            <!--                class="p-selectable-row"-->
            <!--        >-->
            <!--          <td [colSpan]="columns.length">-->
            <!--            <span class="p-text-bold p-ml-2"> <strong class="color-grupo">{{l('cabeceraTabla.nombreGrupo')}}: </strong> <strong>{{<%= nombreCamel %>.campoRelacion.campoNombre}}</strong></span>-->
            <!--          </td>-->
            <!--        </tr>-->

            <tr class="p-selectable-row" [id]="'tr-' + <%= nombreCamel %>.<%= id %>">
              <td *ngFor="let col of columns"  [ngClass]="{
           'valido-carta':<%= nombreCamel %>.habilitado,
           'invalido-carta':!<%= nombreCamel %>.habilitado }">


                <span class="p-column-title">{{l('cabeceraTabla.' + col.header)}}:</span>

                <div *ngIf="col.field !== '<%= id %>' && col.field !== '<%= nombreHabilitado %>'">
                  <div [ngClass]="{
          'text-center':col.posicion === 'text-center',
          'text-left':col.posicion === 'text-left',
          'text-right':col.posicion === 'text-right'
          }">
                    {{col.fnMostrar ? col.fnMostrar(<%= nombreCamel %>[col.field]) : <%= nombreCamel %>[col.field]}}
                  </div>
                </div>

                <!--                <div *ngIf="col.header === 'sis_IM'" class="text-center">-->
                <!--                  <div *ngIf="<%= nombreCamel %>.sis_IM">-->
                <!--                    <p *ngIf="<%= nombreCamel %>.sis_IM.nombre && <%= nombreCamel %>.sis_IM.nombre !== 'undefined'">-->
                <!--                      <strong>{{<%= nombreCamel %>.sis_IM.nombre}}</strong> {{<%= nombreCamel %>.sis_IM.descripcion}}</p>-->
                <!--                    <p><strong>{{g('generales.archivos.imagen.nombre')}}:</strong></p>-->
                <!--                    <img class="img-fluid imagen-tabla" [src]="col.fnMostrarImagen(<%= nombreCamel %>)" alt="">-->
                <!--                    <p><strong>{{g('generales.archivos.imagen.mensajeNombre')}}-->
                <!--                      :</strong> {{<%= nombreCamel %>.sis_IM.originalname}}</p>-->
                <!--                  </div>-->
                <!--                  <div *ngIf="!<%= nombreCamel %>.sis_IM">-->
                <!--                    <p><strong>{{g('generales.archivos.imagen.nombre')}}:</strong></p>-->
                <!--                    <img class="img-fluid imagen-tabla" src="assets/img/comun/imagen.svg" alt="">-->
                <!--                    <p><strong>{{g('generales.archivos.imagen.mensajeNombre')}}-->
                <!--                      :</strong> {{g('generales.archivos.imagen.mensajeVacio')}}</p>-->
                <!--                  </div>-->
                <!--                  <div class="espaciador"></div>-->
                <!--                  <div *ngIf="<%= nombreCamel %>.sis_AR">-->
                <!--                    <p *ngIf="<%= nombreCamel %>.sis_AR.nombre  && <%= nombreCamel %>.sis_AR.nombre !== 'undefined'">-->
                <!--                      <strong>{{<%= nombreCamel %>.sis_AR.nombre}}</strong> {{<%= nombreCamel %>.sis_AR.descripcion}}</p>-->
                <!--                    <div class="text-center">-->
                <!--                      <strong>{{g('generales.archivos.archivo.nombre')}}:</strong> {{<%= nombreCamel %>.sis_AR.mimetype}} <img-->
                <!--                            class="imagen-icono" src="assets/libreria/icono-archivo.svg" alt="">-->
                <!--                    </div>-->
                <!--                    <p><strong>{{g('generales.archivos.archivo.mensajeNombre')}}-->
                <!--                      :</strong> {{<%= nombreCamel %>.sis_AR.originalname}}</p>-->

                <!--                    <div>-->
                <!--                      <br>-->
                <!--                      <p-button-->
                <!--                              [label]="g('generales.archivos.archivo.botonDescargarArchivo')"-->
                <!--                              [disabled]="!<%= nombreCamel %>.habilitado"-->
                <!--                              icon="pi pi-angle-double-right"-->
                <!--                              styleClass="p-button-help"-->
                <!--                              (click)="_sRuta<%= nombreMayuscula %>Service.descargarArchivo(<%= nombreCamel %>.sis_AR)"-->
                <!--                      ></p-button>-->
                <!--                    </div>-->
                <!--                  </div>-->
                <!--                </div>-->

                <div *ngIf="col.field === '<%= nombreHabilitado %>'">
                  <div class="text-center" *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'EditarHabilitado')">
                    <br>
                    <p-inputSwitch [(ngModel)]="<%= nombreCamel %>.habilitado"
                                   (onChange)="_sRuta<%= nombreMayuscula %>Service
                             .activarDesactivar(
                             $event,
                             <%= nombreCamel %>.<%= id %>,
                             <%= nombreCamel %>.habilitado,
                             '<%= nombreHabilitado %>',
                             <%= nombreCamel %>,
                             this
                             )"
                    ></p-inputSwitch>
                  </div>
                </div>
                <div *ngIf="col.field === '<%= id %>'">
                  <!--                  <div class="row">-->
                  <!--                    <div class="col-sm-6">-->
<!--                                        <p-button-->
<!--                                                [disabled]="!<%= nombreCamel %>.habilitado"-->
<!--                                                *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Editar')"-->
<!--                                                icon="pi pi-image"-->
<!--                                                styleClass="p-button-help boton-archivos"-->
<!--                                                (click)="abrirFormularioCrearArchivo('IM', <%= nombreCamel %>)"-->
<!--                                        ></p-button>-->
<!--                                      </div>-->
<!--                                      <div class="col-sm-6">-->
<!--                                        <p-button-->
<!--                                                [disabled]="!<%= nombreCamel %>.habilitado"-->
<!--                                                *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Editar')"-->
<!--                                                icon="pi pi-file"-->
<!--                                                styleClass="p-button-help boton-archivos"-->
<!--                                                (click)="abrirFormularioCrearArchivo('AR', <%= nombreCamel %>)"-->
<!--                                        ></p-button>-->
                  <!--                    </div>-->
                  <!--                  </div>-->

                  <div class="text-center">
                    <br>
                    <p-button
                            [label]="'generales.botones.editar' | transloco"
                            *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Editar')"
                            [id]="'tr' + <%= nombreCamel %>.<%= id %> +'_editar'"
                            [disabled]="!<%= nombreCamel %>.habilitado"
                            icon="pi pi-pencil"
                            styleClass="p-button-warning"
                            (click)="botonAceptarModalDisabled = true;"
                            (click)="_sRuta<%= nombreMayuscula %>Service.formularioEnModalActual = undefined;"
                            (click)="_sRuta<%= nombreMayuscula %>Service.camposSeleccionadosFormulario = {};"
                            (click)="_sRuta<%= nombreMayuscula %>Service.setearCamposRequeridosAFalso(this);"
                            (click)="abrirModal(<%= nombreCamel %>)"
                    ></p-button>
                    <!--                    <button mat-icon-button [matMenuTriggerFor]="opcionesRuta"-->
                    <!--                            aria-label="Example icon-button with a menu">-->
                    <!--                      <mat-icon>more_vert</mat-icon>-->
                    <!--                    </button>-->
<!--                                        <mat-menu #opcionesRuta="matMenu">-->
<!--                                          <div *ngFor="let opcion of opciones">-->
<!--                                            <div *ngIf="opcion.permisoEditar ? _seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Editar') : true">-->

<!--                                              <button-->
<!--                                                      mat-menu-item-->
<!--                                                      [disabled]="!<%= nombreCamel %>.habilitado"-->
<!--                                                      (click)="_sRuta<%= nombreMayuscula %>Service.navegar(-->
<!--                                                               _router,-->
<!--                                                               opcion.ruta(<%= nombreCamel %>.id))"-->
<!--                                              >-->

<!--                                                <mat-icon>keyboard_arrow_right</mat-icon>-->
<!--                                                <img [src]="rutaImagenAssets + opcion.rutaImagen"-->
<!--                                                     alt=""-->
<!--                                                     class="icono-navegacion"-->
<!--                                                > {{l(opcion.nombre)}}-->
<!--                                              </button>-->
<!--                                              -->
<!--                                            </div>-->
<!--                                          </div>-->
<!--                                        </mat-menu>-->
                  </div>
                  <!--                  <div>-->
                  <!--                    <br>-->
                  <!--                    <p-button-->
                  <!--                            [label]="'generales.botones.subirImagen' | transloco"-->
                  <!--                            [disabled]="!<%= nombreCamel %>.habilitado"-->
                  <!--                            icon="pi pi-angle-double-right"-->
                  <!--                            styleClass="p-button-help"-->
                  <!--                            (click)="abrirFormularioCrearArchivo('imagen', <%= nombreCamel %>)"-->
                  <!--                    ></p-button>-->
                  <!--                  </div>-->
                  <!--                  <div>-->
                  <!--                    <br>-->
                  <!--                    <p-button-->
                  <!--                            [label]="'generales.botones.subirArchivo' | transloco"-->
                  <!--                            [disabled]="!<%= nombreCamel %>.habilitado"-->
                  <!--                            icon="pi pi-angle-double-right"-->
                  <!--                            styleClass="p-button-help"-->
                  <!--                            (click)="abrirFormularioCrearArchivo('archivo', <%= nombreCamel %>)"-->
                  <!--                    ></p-button>-->
                  <!--                  </div>-->
                  <!--                  <div>-->
                  <!--                    <br>-->
                  <!--                    <p-button-->
                  <!--                            [label]="'generales.botones.gestionarImagenes' | transloco"-->
                  <!--                            [disabled]="!<%= nombreCamel %>.habilitado"-->
                  <!--                            icon="pi pi-angle-double-right"-->
                  <!--                            styleClass="p-button-help"-->
                  <!--                            (click)="irRutaArchivos('imagen', <%= nombreCamel %>)"-->
                  <!--                    ></p-button>-->
                  <!--                  </div>-->
                  <!--                  <div>-->
                  <!--                    <br>-->
                  <!--                    <p-button-->
                  <!--                            [label]="'generales.botones.gestionarArchivos' | transloco"-->
                  <!--                            [disabled]="!<%= nombreCamel %>.habilitado"-->
                  <!--                            icon="pi pi-angle-double-right"-->
                  <!--                            styleClass="p-button-help"-->
                  <!--                            (click)="irRutaArchivos('archivo', <%= nombreCamel %>)"-->
                  <!--                    ></p-button>-->
                  <!--                  </div>-->
                </div>
              </td>
            </tr>
            </ng-template>


            <!--        <ng-template pTemplate="rowexpansion" let-<%= nombreCamel %> let-columns="columns">-->
            <!--          <tr class="detalle-tr p-selectable-row animate__animated animate__fadeIn">-->
            <!--            <td [colSpan]="columns.length" [ngClass]="{-->
            <!--           'valido-carta':<%= nombreCamel %>.habilitado,-->
            <!--           'invalido-carta':!<%= nombreCamel %>.habilitado }">-->
            <!--              <table class="detalle">-->
            <!--                <tr class="p-selectable-row detalle">-->
            <!--                  <th><strong>ATRIBUTO</strong></th>-->
            <!--                  <th><strong>VALOR</strong></th>-->
            <!--                </tr>-->
            <!--                <tr class="p-selectable-row detalle"-->
            <!--                    *ngFor="let valor of _sRuta<%= nombreMayuscula %>Service.generarObjeto(<%= nombreCamel %>)">-->
            <!--                  <td><strong>{{valor.llave}}</strong></td>-->
            <!--                  <td>-->
            <!--                    &lt;!&ndash;  CAMPOS QUE USEN PIPES      &ndash;&gt   -->
            <!--                <span *ngIf="valor.nombreCampo === 'algunCampoQueQuireaUsarUnPipe'">-->
            <!--                {{valor.valor | currency}}-->
            <!--                </span>-->
            <!--                     &lt;!&ndash; TODOS LOS DEMAS CAMPOS       &ndash;&gt   -->
            <!--                    <span *ngIf="valor.nombreCampo !== 'algunCampoQueQuireaUsarUnPipe'">-->
            <!--                  {{valor.valor}}-->
            <!--                </span>-->

            <!--                  </td>-->
            <!--                </tr>-->
            <!--                     &lt;!&ndash; CAMPOS RELACIONADOS      &ndash;&gt   -->
            <!--                <tr class="p-selectable-row detalle">-->
            <!--                  <td><strong>Campo Relacionado</strong></td>-->
            <!--                  <td>{{<%= nombreCamel %>.campoRelacion.campoNombre}}</td>-->
            <!--                </tr>-->
            <!--              </table>-->
            <!--            </td>-->
            <!--          </tr>-->

            <!--        </ng-template>-->
            <!--        -->

            <ng-template pTemplate="summary">
              <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 text-center">
                  <% if(!esFirebase){ %>
                  {{_sRuta<%= nombreMayuscula %>Service.registrosPagina}}

                  {{'generales.registrosDeUnTotalDe' | transloco}}

                  {{_sRuta<%= nombreMayuscula %>Service.totalRecords}}

                  {{'generales.registros' | transloco}}
                  <% } %>
                  <% if(esFirebase){ %>
                  <div *ngIf="_sRuta<%= nombreMayuscula %>Service.yaNoHayMasRegistros">
                    <p class="text-center bold">{{'generales.otros.sinRegistros' | transloco}}</p>
                  </div>
                  <div *ngIf="!_sRuta<%= nombreMayuscula %>Service.yaNoHayMasRegistros">
                    <button pButton
                            pRipple
                            [label]="'generales.cargarMas' | transloco"
                            icon="pi pi-download"
                            class="p-button-help p-mr-2"
                            (click)="_sRuta<%= nombreMayuscula %>Service.limpiarFiltroGeneral()"
                            (click)="buscarSuscrito()"
                    >
                    </button>
                  </div>
                  <% } %>

                </div>
                <div class="col-sm-4"></div>
              </div>
            </ng-template>
          </p-table>

      </div>
    </div>
  </mat-card>

  <br>
  <br>
</ng-container>

<% } %>


<% } %>
