
<mat-card class="filtros">
  <div class="mat-elevation-z8">
    <div class="padding20px">
      <h1><%= nombreMayuscula %></h1>

      <div class="row animate__animated animate__fadeInUp animate__delay-1s">
        <div class="col-md-12">
          <app-ml-contenedor-campos-formulario (todosCamposValidos)="formularioValidoBusqueda($event)"
                                               (cambioCampo)="cambioCampoBusqueda($event)"
                                               [vertical]="false"
                                               class="campo-formulario"
                                               tituloFormulario=""
                                               descripcionFormulario=""
                                               [camposFormularioFuncion]="camposFormularioBusqueda"
                                               [selectedStepperIndex]="stepperActualBusqueda"
                                               [gruposFormularioFuncion]="_sRuta<%= nombreMayuscula %>Service.gruposFormularioBusqueda"
                                               [componente]="this"
          ></app-ml-contenedor-campos-formulario>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <br>
          <button pButton
                  pRipple
                  type="button"
                  label="Buscar"
                  class="p-button-raised p-button-primary"
                  icon="pi pi-search"
                  (click)="buscarConFiltros()"
          ></button>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

  </div>

</mat-card>
<br>
<mat-card>
  <div class="padding20px">
    <h1>Registros</h1>
    <p>DESCRIPCION.</p>
    <div class="mat-elevation-z8">
      <p-table [columns]="columnasPrimeTable"
               [value]="_sRuta<%= nombreMayuscula %>Service.arregloDatosFiltrado"
               [lazy]="true"
               (onLazyLoad)="_sRuta<%= nombreMayuscula %>Service.cargarMasDatos($event)"
               [paginator]="true"
               [rows]="_sRuta<%= nombreMayuscula %>Service.take"
               [totalRecords]="_sRuta<%= nombreMayuscula %>Service.totalRecords"
               [rowsPerPageOptions]="_sRuta<%= nombreMayuscula %>Service.registrosPorPagina"
               [(first)]="_sRuta<%= nombreMayuscula %>Service.first"
               dataKey="<%= id %>"
               [customSort]="true"
      >

        <ng-template pTemplate="caption">
          <div class="p-d-flex table-header">
            <div class="row">
              <div class="col-sm-8">
                <div color="accent">
                  <label class="form-label">Filtro:</label>
                  <input placeholder="Ej: ..."
                         class="form-control"
                         [(ngModel)]="_sRuta<%= nombreMayuscula %>Service.filtroGeneralTabla"
                         (keyup)="_sRuta<%= nombreMayuscula %>Service.aplicarFiltro($event, [])"
                  >
                </div>
              </div>
              <div class="col-sm-2">
                <div class="paddingTop36px text-center">
                  <button (click)="_sRuta<%= nombreMayuscula %>Service.limpiarFiltroGeneral()"
                          *ngIf="_sRuta<%= nombreMayuscula %>Service.filtroGeneralTabla !== ''"
                          pButton
                          pRipple
                          type="button"
                          icon="pi pi-times"
                          class="p-button-rounded p-button-help p-button-outlined"></button>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="float-end margen-boton-crear-tabla">
                  <button pButton
                          pRipple
                          label="Crear"
                          icon="pi pi-plus"
                          class="p-button-success p-mr-2"
                          (click)="botonAceptarModalDisabled = true;"
                          (click)="_sRuta<%= nombreMayuscula %>Service.formularioEnModalActual = undefined;"
                          (click)="_sRuta<%= nombreMayuscula %>Service.camposSeleccionadosFormulario = {};"
                          (click)="_sRuta<%= nombreMayuscula %>Service.setearCamposRequeridosAFalso(this);"
                          (click)="_sRuta<%= nombreMayuscula %>Service.abrirModal(this,undefined)"
                  ></button>
                </div>
              </div>

            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.tamanio">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumn]="col.field">
              <div class="p-d-flex p-jc-between p-ai-center">
                <div class="text-center">
                  {{col.header}}
                </div>
              </div>
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-<%= nombreCamel %> let-columns="columns" let-indice="rowIndex" let-expandido="expanded">

<!--        <tr-->
<!--                *ngIf="_sRuta<%= nombreMayuscula %>Service.rowGroupMetadata[<%= nombreCamel %>.campoRelacion.campoNombre].index === indice && _sRuta<%= nombreMayuscula %>Service.nombreAtributoAAgrupar.length > 0"-->
<!--                class="p-selectable-row"-->
<!--        >-->
<!--          <td [colSpan]="columns.length">-->
<!--            <span class="p-text-bold p-ml-2"> <strong class="color-grupo">CAMPO NOMBRE: </strong> <strong>{{<%= nombreCamel %>.campoRelacion.campoNombre}}</strong></span>-->
<!--          </td>-->
<!--        </tr>-->

          <tr class="p-selectable-row">
            <td *ngFor="let col of columns"  [ngClass]="{
           'valido-carta':<%= nombreCamel %>.habilitado,
           'invalido-carta':!<%= nombreCamel %>.habilitado }">
              <div *ngIf="col.field !== '<%= id %>' && col.field !== '<%= nombreHabilitado %>'">
                <div [ngClass]="{
          'text-center':col.posicion === 'text-center',
          'text-left':col.posicion === 'text-left',
          'text-right':col.posicion === 'text-right'
          }">
                  {{<%= nombreCamel %>[col.field]}}
                </div>
              </div>
              <div *ngIf="col.field === '<%= nombreHabilitado %>'">
                <div class="text-center">
                  <br>
                  <p-inputSwitch [(ngModel)]="<%= nombreCamel %>.habilitado"
                                 (onChange)="_sRuta<%= nombreMayuscula %>Service
                             .activarDesactivar(
                             $event,
                             <%= nombreCamel %>.<%= id %>,
                             <%= nombreCamel %>.habilitado,
                             '<%= nombreHabilitado %>'
                             )"
                  ></p-inputSwitch>
                </div>
              </div>
              <div *ngIf="col.field === '<%= id %>'">
                <div class="text-center">
                  <br>
                  <p-button
                    label="Editar"
                    [disabled]="!<%= nombreCamel %>.habilitado"
                    icon="pi pi-pencil"
                    styleClass="p-button-warning"
                    (click)="botonAceptarModalDisabled = true;"
                    (click)="_sRuta<%= nombreMayuscula %>Service.formularioEnModalActual = undefined;"
                    (click)="_sRuta<%= nombreMayuscula %>Service.camposSeleccionadosFormulario = undefined;"
                    (click)="_sRuta<%= nombreMayuscula %>Service.setearCamposRequeridosAFalso(this);"
                    (click)="_sRuta<%= nombreMayuscula %>Service.abrirModal(
                this,
                <%= nombreCamel %>
                )"
                  ></p-button>
<!--                  <div *ngFor="let opcion of opciones">-->
<!--                    <br>-->
<!--                    <p-button-->
<!--                      [label]="opcion.nombre"-->
<!--                      [disabled]="!<%= nombreCamel %>.habilitado"-->
<!--                      icon="pi pi-angle-double-right"-->
<!--                      styleClass="p-button-help"-->
<!--                      (click)="_sRuta<%= nombreMayuscula %>Service.navegar(-->
<!--                  _router,-->
<!--                  opcion.ruta(<%= nombreCamel %>.<%= id %>)-->
<!--                )"-->
<!--                    ></p-button>-->
<!--                  </div>-->
                </div>
              </div>
            </td>
          </tr>
        </ng-template>


<!--        <ng-template pTemplate="rowexpansion" let-<%= nombreCamel %> let-columns="columns">-->
<!--          <tr class="detalle-tr p-selectable-row animate__animated animate__fadeIn">-->
<!--            <td [colSpan]="columns.length" [ngClass]="{-->
<!--           'valido-carta':<%= nombreCamel %>.habilitado,-->
<!--           'invalido-carta':!<%= nombreCamel %>.habilitado }">-->
<!--              <table class="detalle">-->
<!--                <tr class="p-selectable-row detalle">-->
<!--                  <th><strong>ATRIBUTO</strong></th>-->
<!--                  <th><strong>VALOR</strong></th>-->
<!--                </tr>-->
<!--                <tr class="p-selectable-row detalle"-->
<!--                    *ngFor="let valor of _sRuta<%= nombreMayuscula %>Service.generarObjeto(%= nombreCamel %>)">-->
<!--                  <td><strong>{{valor.llave}}</strong></td>-->
<!--                  <td>-->
<!--                    &lt;!&ndash;  CAMPOS QUE USEN PIPES      &ndash;&gt   -->
<!--                <span *ngIf="valor.nombreCampo === 'algunCampoQueQuireaUsarUnPipe'">-->
<!--                {{valor.valor | currency}}-->
<!--                </span>-->
<!--                     &lt;!&ndash; TODOS LOS DEMAS CAMPOS       &ndash;&gt   -->
<!--                    <span *ngIf="valor.nombreCampo !== 'algunCampoQueQuireaUsarUnPipe'">-->
<!--                  {{valor.valor}}-->
<!--                </span>-->

<!--                  </td>-->
<!--                </tr>-->
<!--                     &lt;!&ndash; CAMPOS RELACIONADOS      &ndash;&gt   -->
<!--                <tr class="p-selectable-row detalle">-->
<!--                  <td><strong>Campo Relacionado</strong></td>-->
<!--                  <td>{{<%= nombreCamel %>.campoRelacion.campoNombre}}</td>-->
<!--                </tr>-->
<!--              </table>-->
<!--            </td>-->
<!--          </tr>-->

<!--        </ng-template>-->
<!--        -->

        <ng-template pTemplate="summary">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center">

              {{_sRuta<%= nombreMayuscula %>Service.registrosPagina}} registros de un total de {{_sRuta<%= nombreMayuscula %>Service.totalRecords}} registros.

            </div>
            <div class="col-sm-4"></div>
          </div>
        </ng-template>
      </p-table>

    </div>
  </div>
</mat-card>

<br>
<br>
